{% extends "main.html" %}
{% block title %}Home - Passport Photo{% endblock %}

{% block content %}
    <div id="main-app" class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Welcome to AI-powered Passport Photo Maker App</h1>
            <p class="lead">Create high-quality passport photos with ease</p>
            <hr class="my-4">
            <p>This app uses advanced AI algorithms to generate passport photos that meet the official requirements.</p>
            <p>Simply upload your photo, process it, and download the generated passport photo.</p>
            <a class="btn btn-primary btn-lg" href="/upload" role="button">Get Started</a>
        </div>
    </div>
{% endblock %}
