    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4">
        <a class="navbar-brand" href="/">Passport Photo Maker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        
        <div class="d-flex align-items-center">
          <a class="navbar-btn bg-light text-dark" href="https://github.com/Zevrap-81/Passport_photo" target="_blank">
              <i class="bi bi-github" style="font-size: 25px; -webkit-text-stroke-width: 0px;"></i>
            </a>
        </div>
      </div>
    </nav>
    